body {
  background-color: #eee;
  font-family: 'PT Serif', georgia, serif;
  color: #222;
}

.main-heading {
  font-family: 'Ubuntu', impact, sans-serif;
  font-size: 1.25em;
  background-color: rgb(114, 122, 226);
  color: #fff;
  line-height: 2;
  text-align: center;
  text-shadow: 1px 1px 0px black;
}


.content {
  padding: 0 1em;
}

.add-task {
  margin: 1em 0;
  display: grid;
  grid-template-columns: auto 7em;
}


.component {
  font-family: 'PT Serif', georgia, serif;
  font-size: 1em;
  border: 1px solid #ddd;
  padding: 0.5em;
  vertical-align: middle;
}

.inpt {

}
.btn {
  background-color: rgb(206, 100, 244);
  color: #fff;
}




.task-list {
  list-style: none;
  margin: 1em 0;
}

.task {
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 1em;
}
  .task:not(.complete):hover {
    background-color: rgb(242, 240, 255);
  }


.complete {
  color: #999;
  background-color: #ddd;
  text-decoration: line-through;
  padding: 0.25em 1em;
}





/* .add-task {
  padding: 1em 1em 0 1em;
}

.task-list {
  list-style: none;
  padding: 0 1em 1em 1em;
} */
